header{
	height: 100vh;
	background-image: url(../img/bg-header.jpg);
	-webkit-background-size: cover;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
h1, h2{
  position: absolute;
  left: 50%;
  letter-spacing: 8px;
  text-transform: uppercase;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
h1{
	top: 50%;
	padding: 5px 10px;
	font-size: 48px;
}
h2{
	top: 61%;
	font-size: 20px;
	padding: 10px 20px;
}
h1:before, h1:after, 
h1 span:before, h1 span:after {
  content:"";
  display:block;
  width: 50%;
  height:20px;
  position:absolute;
}
h1:before {
  border-left:solid 1px #FFFFF0;
  border-top:solid 1px #FFFFF0;
  left:-16px;
  top:-16px;
}
h1:after {
  border-right:solid 1px #FFFFF0;
  border-top:solid 1px #FFFFF0;
  right:-16px;
  top:-16px;
}
h1 span:before {
  border-left:solid 1px #FFFFF0;
  border-bottom:solid 1px #FFFFF0;
  left:-16px;
  bottom:-16px;
}
h1 span:after {
  border-right:solid 1px #FFFFF0;
  border-bottom:solid 1px #FFFFF0;
  right:-16px;
  bottom:-16px;
}
/*info-wrap-social*/
.info-wrap {
	position: absolute;
	top: 68%;
	z-index: 100;
}
.info-wrap ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
  }
  .info-wrap ul li {
  display: block;
  margin: 3px;
  background: rgba(7, 0, 0, .2);
  width: 300px;
  text-align: right;
  padding: 10px;
  -webkit-transition: transform 0.5s, background-color 0.5s;
  -moz-transition: transform 0.5s, background-color 0.5s;
  -ms-transition: transform 0.5s, background-color 0.5s;
  -o-transition: transform 0.5s, background-color 0.5s;
  transition: transform 0.5s, background-color 0.5s;
}
.info-wrap ul li span{
	font-size: 15px;
	text-transform: uppercase;
	margin-right: 15px;
}
.info-wrap ul li i {
  font-size: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.info-wrap ul li:hover {
	cursor: pointer;
	-webkit-transform: translate(120px, 0);
  -moz-transform: translate(120px, 0);
  -ms-transform: translate(120px, 0);
  -o-transform: translate(120px, 0);
  transform: translate(120px, 0);
	background: rgba(63, 173, 168, .6);
}
.info-wrap ul li:hover i {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: transform 0.5s, background-color .5s;
  -moz-transition: transform 0.5s, background-color .5s;
  -ms-transition: transform 0.5s, background-color .5s;
  -o-transition: transform 0.5s, background-color .5s;
  transition: transform 0.5s, background-color .5s;
}
/*animation-arrow*/
.animation-arrow {
	position: absolute;
	height: 60px;
	width: 60px;
	left: 50%;
	top: 90%;
	transform: translate(-50%,-50%);
	z-index: 1001;
	cursor: pointer;
}
.animation-arrow .arrow-anim {
	opacity: 0;
	position: absolute;
	top: 40%;
	left: 18%;
}
@keyframes arrow-movement{
	0% {
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		top: 95%;
	}
}
.animation-arrow .arrow-1 {
	-webkit-animation: arrow-movement 1s ease-in-out infinite;
	animation: arrow-movement 1s ease-in-out infinite;
}
.animation-arrow .arrow-2 {
	-webkit-animation: arrow-movement 1s .5s ease-in-out infinite;
	animation: arrow-movement 1s .5s ease-in-out infinite;
}
.animation-arrow .arrow-anim:after, 
.animation-arrow .arrow-anim:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	display: block;
	height: 2px;
	width: 40px;
	background-color: #FFFFF0;
}
.animation-arrow .arrow-anim:before {
	-webkit-transform-origin: top left;
	-ms-transform-origin: top left;
	transform-origin: top left;
	-ms-transform: rotate(45deg) translateX(-23%);
	transform: rotate(45deg) translateX(-23%);
	-webkit-transform: rotate(45deg) translateX(-23%);
	-moz-transform: rotate(45deg) translateX(-23%);
	-o-transform: rotate(45deg) translateX(-23%);
}
.animation-arrow .arrow-anim:after {
	-webkit-transform-origin: top right;
	-ms-transform-origin: top right;
	transform-origin: top right;
	-ms-transform: rotate(-45deg) translateX(23%);
	transform: rotate(-45deg) translateX(23%);
	-webkit-transform: rotate(-45deg) translateX(23%);
	-moz-transform: rotate(-45deg) translateX(23%);
	-o-transform: rotate(-45deg) translateX(23%);
}
.animation-arrow:hover .arrow-anim:before,
.animation-arrow:hover .arrow-anim:after{
	background-color: rgb(63, 173, 168);
}